<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="../css/index.css">
    <link rel="stylesheet" type="text/css"  href="../css/style.css">
    <link rel="stylesheet" type="text/css"  href="../css/responsive.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Document</title>
</head>
<body>
    <div class="w-container">
        <nav class="navbar">
            <div class="hamburger burgerRes">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="res">
            </div>
            <div class="navLeft navLeftResp navLeftres">  
                <ul>
                    <div class="cross cross-res"> 
                        <div class="lin1"></div>
                        <div class="lin2"></div>
                    </div> 
                    <li class="lft"><a href="/">Shop</a></li>
                    <li class="lft"><a href="/faq">FAQ</a></li>
                    <li class="lft"><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="logo">RadiantAura</div>
            <div class="navRight">
                <a class="log" href="/logOut">Log Out</a>
            </div>
        </nav>
    </div>

    <form class="editProf" method="post" action="/edit" enctype="multipart/form-data">
        <div class="outEdit">
            <div class="photo">
            <% if(locals.Image == undefined){%>
            <img src="../images/profile.png" class="profileImg editImg"></img>
            <%} else { %>
            <img src="../userImages/userImg/<%=locals.Image%>" class="profileImg editImg"></img>
            <%} %>
            <input type="file" accept="image/*" name="image" id="imgId">
            <label for="imgId" class="file"><span class="material-symbols-outlined">
                add_a_photo
                </span>&nbsp; Add Photo </label>
            </input>
            </div>
            <div class="details">
                <label class="plab elab">Full Name:</label>
                <input class="pinp" name="userName" type="text" value="<%= locals.UserName %>">
                <label class="plab elab">Email:</label>
                <div style="display: flex; gap: 15px;"><input class="pinp"  type="email" value="<%= locals.email %>" readonly><% if(!locals.isVerified) { %><a href="/verifyemail" style="margin-left: -12px; color: rgb(223, 223, 236);  font-size: 15px; font-weight: 100;">verify</a><%} %></div>
                <label class="plab elab">Phone:</label>
                <input class="pinp" name="phone" type="text" value="<%= locals.Phone %>">
                <label class="plab elab">Password:</label>
                <input class="pinp" name="password" type="password" placeholder="Password">
                <a href="/changepass" class="pass">Change Password</a>
                <% if(locals.message) { %>
                    <div></div>
                    <p class="err"><%= locals.message %></p>
                <%} %>
            </div>
        </div>
        <div class="vbtn">
        <input type="submit" class="ebtn vbtn" value="Submit">
        <input type="button" class="ebtn vbtn" value="Delete Account" onclick="display_pop_up()">
        </div>
        </form> 

        <div class="blur" onclick="remove_pop_up()">
            <form method="post" action="/delAccount" class="pop_up f2">
                <div style="margin-bottom:15px ;">Are you sure you wish to end up your journey along with us?</div>
                <input class="ebtn lrg" style="padding: 3px; margin-right:5px ;" type="submit" value="Delete">
                <button class="ebtn lrg"style="padding: 3px;" type="reset">Cancle</button>
            </form>
        </div>


        <!-- <div class="verify">
    <span class="otpver">
        <p>OTP has been sended to your mail-box.</p>
        <div class="otp">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
        </div>
    </span>
    <input class="vbtn submitbtn" type="button" value="Edit">
    </div> -->

    <div class="footer">
        <div class="footcontain">
            <div class="main">
                <div class="logo">RadiantAura</div>
                <p>For any inquiry please email</p>
                <p><u>Info@my.com</u></p>
            </div>
            <div class="main">
                <p>Visit Our <u>Website</u> on</p>
                <img src="https://static.wixstatic.com/media/11062b_1f7ed8bc7b004201970df69f9eeda689~mv2.png/v1/fill/w_28,h_28,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_1f7ed8bc7b004201970df69f9eeda689~mv2.png">
                <img src="https://static.wixstatic.com/media/11062b_7dc1612522fa4189b30c17455973c3bf~mv2.png/v1/fill/w_28,h_28,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_7dc1612522fa4189b30c17455973c3bf~mv2.png">
                <img src="https://static.wixstatic.com/media/11062b_a06d85fa94d64ef68680321f5a043a8c~mv2.png/v1/fill/w_28,h_28,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_a06d85fa94d64ef68680321f5a043a8c~mv2.png">
            </div>
            <div class="main">
                <p>500 Terry Francine Street </p>
                <p>San Francisco, CA 94158</p>
            </div>
        </div>
        <div class="navLeft footLi">   
            <ul>
                <li class="lft"><a href="/home">Shop</a></li>
                <li class="lft"><a href="/faq">FAQ</a></li>
                <li class="lft"><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="footerInfo">
            <p>© 2035 by NPoint. Powered and secured by Nirali Darji</p>
        </div>
     </div> 
</body>
<script>     
    const display_pop_up = () => {
        const blur = document.getElementsByClassName('blur')[0];
        blur.style.display = "block";
    }
    const remove_pop_up = () => {
        const blur = document.getElementsByClassName('blur')[0];
        blur.style.display = "none";
    }
</script>
<script src="../js/edit.js">
</script>
</body>
</html>